<html>
        <head>
            <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://cdn.tailwindcss.com"></script>
            <title>Songs Homepage - Welcome to My Music Store</title>
        </head>
        <body class="container mx-auto">
            <header>
                 <h1 class="text-3xl">Welcome to My Music Store</h1>
            </header>
            <main>
                <h2 class="text-2xl font-bold">Choose a song:</h2>
                <!-- Display radio buttons for each song,
                        the value should be the trackId
                        and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
                <form method="POST" action="/listSongs">
                    <div class="hover:opacity-80 transition-all ease-in-out duration-150 py-4 px-2" th:each="song : ${songs}">
                          <input  class=""
                                  type="radio" th:id="${song.getTrackId()}" name="songChoice" th:value="${song.getTrackId()}">
                          <label  class="text-xl font-semibold text-gray-700"
                                  th:for="${song.getTrackId()}"
                                  th:text="'Title: ' +  ${song.getTitle()} + ', Genre: ' + ${song.getGenre()} + ', Release Year: ' + ${song.getReleaseYear()}  + ', Album: ' + ${song.getAlbum().getName()}"></label>
                        <br/>
                    </div>
                    <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='submit' value='Submit'>
                </form>

            </main>
        </body>
    </html>